body{
    width: 100vw;
    height: 100vh;
}
.container{
    width: 987px;
    margin: 0 auto;
}
h1{
    background-color: black;
    color: #fff;
    padding: 10px;
    text-align: center;
}
p{
    background-color: rgb(226, 127, 35);
    color: #fff;
    padding: 10px;
    text-align: center;
}